<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ViabilidadJuridica"
			 connectionString="Server=172.23.92.97\MSSQLSERVER2022;Database=ViabilidadJuridica;User Id=andres.garciav;Password=4ndr3s.g4rc14v_3610@;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

